<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="anydesk" />
    <package id="ccleaner" />
    <package id="docker-desktop" />
    <package id="dotnetcore-sdk" />
    <package id="discord" />
    <package id="gcloudsdk" />
    <package id="get-childitemcolor" />
    <package id="googlechrome" />
    <package id="geforce-experience" />
    <package id="firefox-dev" prerelease="true" />
    <package id="git" />
    <package id="insomnia-rest-api-client" />
    <package id="linqpad" />
    <package id="lastpass" />
    <package id="microsoft-teams" />
    <package id="microsoft-windows-terminal" />
    <package id="microsoft-edge" />
    <package id="mkcert" />
    <package id="mysql" />
    <package id="mysql.workbench" />
    <package id="netfx-4.8-devpack" />
    <package id="notion" />
    <package id="nuget.commandline" />
    <package id="nvm" />
    <package id="origin" />
    <package id="oh-my-posh" />
    <package id="poshgit" />
    <package id="powershell-core" />
    <package id="powertoys" />
    <package id="postman" />
    <package id="ripgrep" />
    <package id="rustup.install" />
    <package id="slack" />
    <package id="steam" />
    <package id="steelseries-engine" />
    <package id="sql-server-2019" />
    <package id="sql-server-management-studio" />
    <package id="spotify" />
    <package id="uplay" />
    <package id="vscode" />
    <package id="visualstudio2019community" />
    <package id="visualstudio2019-workload-vctools" />
    <package id="wsl-alpine" />
    <package id="yarn" />
</packages>